

      <h2>Members <a href="/cms/dashboard/members/add"><i class="fas fa-plus-circle"></i></a></h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="myTable">
            {{#each member}}
            <tr>
              <td>{{math @index "+" 1}}</td>
              <td>{{name}}</td>
              <td>{{email}}</td>
              <td>{{role}}</td>
              <td><a href="/cms/dashboard/members/edit/{{id}}" class="text-success"><i class="fas fa-edit"></i></a></td>
              <td><a href="/cms/dashboard/memebers/delete/{{id}}" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      <ul class="pagination">
        
        {{#each pages}}
          <li class="page-item"><a class="page-link" href="/cms/dashboard/{{this}}">{{this}}</a></li>
        {{/each}}
        
      </ul>
      </div>