
{{!-- <a href="/cms/dashboard/password/add"><i class="fas fa-plus-circle"></i></a> --}}
      <h2>Individual <a href="/cms/dashboard/individual/add"><i class="fas fa-plus-circle"></i></a></h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Project Name</th>
              <th>Client Name</th>
              <th>Bitbucket Link</th>
              <th>Manager</th>
              <th>Developer</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="myTable">
            {{#each individual}}
              <tr>
              <td>{{math @index "+" 1}}</td>
              <td>{{project}}</td>
              <td>{{client_name}}</td>
              <td><a href="https://{{bitbucket_link}}" target="_blank">{{bitbucket_link}}</a></td>
              <td>{{manager}}</td>
              <td>{{member.name}}</td>
              <td><a href="/cms/dashboard/individual/edit/{{id}}" class="text-success"><i class="fas fa-edit"></i></a></td>
              <td><a href="/cms/dashboard/individual/delete/{{id}}" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>