{{#if errors}}
    {{#each errors}}
        <div class="alert alert-warning">
        <strong>Warning!</strong> {{msg}}.
        </div>
    {{/each}}
{{/if}}
<br>
<h2>Update Members</h2>   
<form action="/cms/dashboard/update/members/{{members.id}}" method="POST">
    <div class="form-group">
        <label for="title">Name:</label>
        <input type="text" class="form-control" name="name" value="{{members.name}}">
    </div>
    <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" value="{{members.email}}">
  </div>
  <div class="form-group">
    <label for="sel1">Role:</label>
    <select class="custom-select" name="role" id="exist">
        <option value={{members.role}}>{{members.role}}</option>
    </select>
    <select class="custom-select" name="role" id="new" style="display: none;">
    {{#each roles}}
      <option value={{title}}>{{title}}</option>
    {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="name">Password:</label>
    <input type="text" class="form-control" name="password" value="{{members.password}}" id="password">
        <i class="far fa-eye" onclick="showPassword();"></i>
        <i class="far fa-eye-slash" onclick="showPassword();" style="display:none"></i>
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
  <a href="/cms/dashboard/1"><button type="button" class="btn btn-default">back</button></a>
</form>

<script>
$(document).ready(function(){
  $('#exist').focus(function(){
    $('#new').show();
    $('#exist').remove();
  });
});

    function showPassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
            $('.fa-eye').hide();
            $('.fa-eye-slash').show();
        } else {
            x.type = "password";
            $('.fa-eye-slash').hide();
            $('.fa-eye').show();
        }
    }
</script>