{{#if errors}}
{{#each errors}}
<div class="alert alert-warning">
    <strong>Warning!</strong> {{msg}}.
</div>
{{/each}}
{{/if}}
<br>
<h2>Update Passwords</h2>
<form action="/cms/dashboard/update/passwords/{{passwords.id}}" method="POST">
    <div class="form-group">
        <label for="title">Website:</label>
        <input type="text" class="form-control" name="website" value="{{passwords.website}}">
    </div>
    <div class="form-group">
        <label for="title">Login Url:</label>
        <input type="text" class="form-control" name="login" value="{{passwords.login}}">
    </div>
    <div class="form-group">
        <div class="demo">
            
            <label for="site">Roles:</label>
            <input type="text" value="{{#objToArray passwords.role}}{{/objToArray}}" name="role"
                class="demo-default selectized" id="input-tags" tabindex="-1" style="display: block;">
        </div>
    </div>
    <div class="form-group">
        <label for="title">Username:</label>
        <input type="text" class="form-control" name="username" value="{{passwords.username}}">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" value="{{passwords.password}}" id="password"> 
        <i class="far fa-eye" onclick="showPassword();"></i>
        
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
    <a href="/cms/dashboard/passwords/list"><button type="button" class="btn btn-default">back</button></a>
</form>

<script>
    var decodedJson = decodeURIComponent("{{encodedJson}}");
    var jsonObj = JSON.parse(JSON.parse(JSON.stringify(decodedJson)));
    var data = jsonObj;
    var items = data.map(function (x) { return { item: x.title }; });

    $('#input-tags').selectize({
        delimiter: ',',
        persist: false,
        maxItems: 4,
        options: items,
        labelField: "item",
        valueField: "item",
        sortField: 'item',
        searchField: 'item'
    });

    function showPassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
        //$("#password").password('toggle');
</script>